<img src="../../assets/image16.jpg" name=":"alt=","/>
<p> Ο ξενωνας ειναι μπροστα στην παραλια με υπεροχη θεα .Συνδυαζει το γαλαζιο με το πρασινο του βουνου.</p>
<div class="container">
    <div class="row">    
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image18.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Χρυση αμμος</h5>
            <div class ="centerbutton">
                
                <a  class="btn btn-primary" [routerLink]="['/info', '1']">Explore</a>
            </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image18.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Η θαλασσα</h5>
            <div class ="centerbutton">                
                <a  class="btn btn-primary" [routerLink]="['/info', '1']">Explore</a>
            </div>
            </div>
            </div>
        </div>
        <div class="row mt-3">  
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image18.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Αγιος Νικολας</h5>
            <div class ="centerbutton">                
                <a  class="btn btn-primary" [routerLink]="['/info', '1']">Explore</a>
            </div>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width:18rem;">
            <img class="card-img-top" src="../../assets/image18.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Αγιος Νικολας</h5>

            <div class ="centerbutton">
                
                <a  class="btn btn-primary" [routerLink]="['/info', '1']">Explore</a>
            </div>
        
        </div>
            </div>
        </div>
    </div>

    </div>
</div>