img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
p{
    text-align: center;
font-size: 16px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    font-family: Helvetica, Arial, Sans-Serif;

    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  footer{
    background-image: url("../../assets/image34.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #ffffff;

  }
  .con {
    margin-top: 20px;
    position: relative;

    left:40%;
    margin-bottom: 3px;
  }