
<div id="carouselExampleAutoplaying" class="carousel slide margin-bottom-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image3.jpg" class="d-block w-100" alt="..."/>
      </div>
      <div class="carousel-item">
        <img src="assets/image5.jpg" class="d-block w-100" alt="..."/>
      </div>
      <div class="carousel-item">
        <img src="../assets/image20.jpg" class="d-block w-100" alt="..."/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="con">
    
    <button class=" btn btn-primary" routerLink="/room">Accomodation</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome To Yiasemi</h1>
      </div>
        <div class="col">
          <p>An authentic mountain village, far away from the hustle and bustle, surrounded by archaic nature, and blessed with iconic architecture. Discover our discrete hideaway for individualists and epicureans. Discover a class of its own</p>
        </div>
    </div>
  <div class="container ">
    <div class="row">
    <div class="col-sm-8">
      <img src="../assets/image16.jpg" class="d-block w-200"/>
    </div>
      <div class="col">
        <img src="../assets/image16.jpg" class="img-fluid" />
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="../assets/image16.jpg"class="img-fluid" />
    </div>
      <div class="col">
        <img src="../assets/image16.jpg" class="img-fluid" />
      </div>
  </div>
  </div>
  
  
  
  
<div id="carouselAutoplaying" class="carousel slide margin-bottom-2" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a ><img src="../assets/image3.jpg" class="d-block w-100" alt="...">
      </a>
   </div>
    <div class="carousel-item">
      <a ><img src="../assets/image5.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item">
      <a><img src="../assets/image16.jpg" class="d-block w-100" alt="...">
      </a>    
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="container">
    <div class="row">
      <div class="col">

        <h1><i class="bi bi-wifi-2"></i>Wi-fi    </h1>
      </div>   
       <div class="col">

        <h1><i class="bi bi-tv"></i>TV </h1>
      </div>

    </div>

  </div>
  <!-- <div>
    Customer Reviews
  </div> -->
  <footer>
    <div>
      <p>Contact info</p>
  <p>
    Agios Nikolaos Ellinika Evia
    P.C 34200 Greece
  </p>
  <p>
    Til:6946467489
  </p>
    </div>
  </footer>
  
